// Fonts
$f-primary: "Roboto", sans-serif;

//Colors
$c-primary: #000000;
$c-secondary: #4a4a4a;
$c-error: #ff0000;

$c-background-primary: #f5f5f5;
$c-background-secondary: #e3e3e3;
$c-white: #ffffff;

//Font Sizes
$fs-xl: 35px;
$fs-l: 18px;
$fs-m: 16px;
$fs-s: 13px;

//Line height
$lh-xl: 43px;
$lh-l: 22px;
$lh-m: 19px;

//Weight
$w-bold: 700;
$w-normal: 400;
